
#hero-carousel {
    height: 740px;
    @include respond-to(md) {
        height: 600px;
    }
    @include respond-to(sm) {
        height: 500px;
    }
    @include respond-to(xs) {
        height: 400px;
    }
    .carousel-inner {
        height: 100%;
        .item {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}